# Add any directories, files, or patterns you don't want to be tracked by version control
BookLibrary/.vs/
BookLibrary/BookLibrary/obj/
BookLibrary/BookLibrary/bin/
BookLibrary/packages/
BookLibrary/BusinessLogic/obj/
BookLibrary/ClassLibrary1/obj/
BookLibrary/DatabaseConnection/obj/
BookLibrary/ClassLibrary1/Properties/AssemblyInfo.cs
BookLibrary/ClassLibrary1/DatabaseConnection.csproj
BookLibrary/ClassLibrary1/Class2.cs
BookLibrary/ClassLibrary1/Class1.cs
BookLibrary/BusinessLogic/bin/
BookLibrary/DatabaseConnection/bin/
BookLibrary/BookLibrary.Models/obj/
